version: 2.1

workflows:
  node-tests:
    jobs:
      - build:
          context: CODECOV

jobs:
  build:
    docker:
      - image: circleci/node:lts
        environment:
          DB_HOST: localhost
          DB_USER: testuser
          DB_PASSWORD: postgres
          DB_NAME: test
          DB_PORT: 5432
          JWT_SECRET: aSecretKey
      - image: circleci/postgres:alpine
        environment:
          POSTGRES_DB: test
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: testuser
    
    steps:
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
      - run:
          name: Instalación de dependencias
          command: npm ci
      - save_cache:
          key: dependency-cache-{{ checksum "package-lock.json" }}
          paths:
            - ./node_modules
      - run: dockerize -wait tcp://localhost:5432 -timeout 1m
      - run: 
          name: Creación de tablas en la BD
          command: psql -d postgres://testuser:postgres@localhost:5432/test
      - run:
          name: Ejecutando tests
          command: npm run test:cov
      - run:
          name: Reportando resultados del test de cobertura
          command: npm run coverage-report
